<div id="contact-form-container">
    <form id="contact-form" method="post" action="contact-form-process.php">
        <div>
            <label for="name">Your name</label>
            <div>
                <input type="text" id="name" name="name" required>
            </div>
        </div>

        <div>
            <label for="Email">Your email address</label>
            <div>
                <input type="email" id="Email" name="Email" class="fcf-form-control" required>
            </div>
        </div>

        <div>
            <label for="message">Your message</label>
            <div>
                <textarea id="contact-form-message" name="message" rows="6" maxlength="3000" required></textarea>
            </div>
        </div>

        <div>
            <button type="submit" id="contact-form-button">Send Message</button>
        </div>
    </form>
</div>