<p class="article-text">
    The best way to contact me is via email, but I do pick up and respond to messages on LinkedIn too.<br><br>

    With LinkedIn as the one exception, I don't have or use any social media. For a faster way to get in touch,
    send me a message directly below.
</p>

<div id="contact-form-container">
    <form id="contact-form" method="post" action="">
        <div>
            <label class="article-text" for="name">Your name</label>
            <div>
                <input type="text" id="name" name="name" required>
            </div>
        </div>

        <div>
            <label class="article-text" for="Email">Your email address</label>
            <div>
                <input type="email" id="Email" name="Email" required>
            </div>
        </div>

        <div>
            <label class="article-text" for="message">Your message</label>
            <div>
                <textarea id="contact-form-message" name="message" rows="6" maxlength="3000" required></textarea>
            </div>
        </div>

        <div>
            <button id="contact-form-button" class="article-text" type="submit">Send Message</button>
        </div>
    </form>
</div>