{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="spacer"><br></div>
    <div class="masthead__inner-wrap">
        <div class="masthead__menu hidden">
        <nav id="site-nav" class="greedy-nav">
            <a class="svg-logo" href="{{ '/' | relative_url }}">
                <svg width="60" viewbox="0 0 260 195" xmlns="http://www.w3.org/2000/svg" version="1.0" preserveAspectRatio="xMidYMid meet">
                    <text xml:space="preserve" text-anchor="start" font-family="Arial" font-size="260" class="svg-char" y="188.5" x="-1.5" stroke-width="0" stroke="#000" fill="rgb(40, 40, 40)">d</text>
                    <text xml:space="preserve" text-anchor="start" font-family="Arial" font-size="250" class="svg-char" y="140" x="120" stroke-width="0" stroke="#000" fill="rgb(40, 40, 40)">p</text>
                </svg>
            </a>
            <ul class="visible-links">
            {%- for link in site.data.navigation.main -%}
                <li class="masthead__menu-item">
                {% if link.url == page.url %}
                    <a class="active-page-item" href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
                {% else %}
                    <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
                {% endif %}
                </li>
            {%- endfor -%}
            </ul>
            {% if site.dark_skin %}
                <label id="switch" class="switch">
                <input type="checkbox" id="slider" onchange="toggleTheme()">
                <span class="slider round"></span>
                </label>
            {% endif %}
            {% if site.search == true %}
            <button class="search__toggle" type="button">
            <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
            <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
                <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z" transform="translate(-.01)"></path>
            </svg>
            </button>
            {% endif %}
            <button id="greedy-nav-button" class="greedy-nav__toggle hidden" type="button">
            <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
            <div class="navicon"></div>
            </button>
            <ul class="hidden-links hidden"></ul>
        </nav>
        </div>
    </div>
  <div class="spacer"><br></div>
</div>

<script>
  let slider = document.getElementById("slider");
  if (theme === "dark") {
    slider.checked = true;
  } else {
    slider.checked = false;
  }

  var $btn = $("nav.greedy-nav .greedy-nav__toggle");
  var $vlinks = $("nav.greedy-nav .visible-links");
  var $hlinks = $("nav.greedy-nav .hidden-links");
  var $logoImg = $("nav.greedy-nav .site-logo img");

  function updateNav() {
    var winWidth = $(window).width();

    if (winWidth <= 654) {
      $vlinks.children().prependTo($hlinks);
      $btn.removeClass("hidden");
    } else {
      $hlinks.children().appendTo($vlinks);
      $btn.addClass("hidden");
      $hlinks.addClass("hidden");
    }

    var navHandle = document.getElementById("greedy-nav-button");
    if (navHandle.classList.contains("close")) {
      $hlinks.removeClass("hidden");
    }
  }

  updateNav();

  var $mastheadMenu = $(".masthead__menu");
  $mastheadMenu.removeClass("hidden");
</script>