---
# Only the main Sass file needs front matter (the dashes are enough)
---

/*
        Dark theme overrides
*/

/* Variables */
$masthead-text: #eaeaea !default;
$masthead-background: #1d212b !default;
$page-content-divider-color: #393c44 !default;
$background-color: #252a34 !default;
$navicon-color: $masthead-text !default;
$navicon-cross-color: white !default;

/* Profile icon colours */
$work-icon-color: rgb(89, 89, 208) !default;
$university-icon-color: rgb(182, 182, 182) !default;
$location-icon-color: rgb(170, 151, 7) !default;
$github-icon-color: rgb(146, 9, 181) !default;
$linkedin-icon-color: #00a5f2 !default;

/* Page content */
// Enable the dark scrollbar in browsers that support it
:root {
  color-scheme: dark;
}

.page__hero {
  &--overlay {
    margin-bottom: 0.5em !important;
  }
}

.initial-content,
.search-content {
  border-top: 1px solid $masthead-background !important;
  background: $background-color !important;
}

/* Masthead */
// Black masthead background
.greedy-nav {
  background: $masthead-background !important;
}

.spacer {
  background-color: $masthead-background !important;
}

.masthead {
  background-color: $masthead-background !important;
}

// Masthead links
.greedy-nav a {
  color: $masthead-text !important;
}

// White masthead text
.greedy-nav .visible-links a {
  color: $masthead-text !important;
}

// White masthead text on hover
.masthead__menu-item a:hover {
  color: $masthead-text !important;
}

.greedy-nav .visible-links a:hover {
  color: $masthead-text !important;
}

// White masthead indicator for expanded menu
.active-page-item::before {
    background-color: $masthead-text !important;
}

// White page indicator for condensed menu
.hidden-links .active-page-item {
  outline: 1px solid $masthead-text !important;
}

// White masthead indicator on hover
.greedy-nav .visible-links a:hover::before {
  background-color: $masthead-text !important;
}

// Search toggle colour
.search__toggle {
  color: $masthead-text !important;
}

// Logo character colour
.svg-char {
  fill: $masthead-text !important;
}

/* Navigation */
// Navicon colors
.navicon::before, .navicon::after {
  background: $navicon-color !important;
}

.navicon {
  background: $navicon-color !important;
}

.greedy-nav__toggle:hover .navicon {
  background: $navicon-color !important;
}

.greedy-nav__toggle:hover.close .navicon {
  background: transparent !important;
}

.greedy-nav__toggle.close .navicon {
  background: transparent !important;
}

.greedy-nav__toggle.close .navicon::before {
  background: $navicon-cross-color !important;
}

.greedy-nav__toggle.close .navicon::after {
  background: $navicon-cross-color !important;
}

// Hidden nav menu link
.greedy-nav .hidden-links a {
  color: $masthead-text !important;
}

.greedy-nav .hidden-links a:hover {
  color: $masthead-text !important;
  background-color: $background-color !important;
  outline: 1px solid $masthead-text !important;
  outline-offset: -1px !important;
}

.greedy-nav {
  .hidden-links {
    border: 1px solid $page-content-divider-color !important;

    &:before {
      border-color: $page-content-divider-color transparent !important;
    }

    li {
      border-bottom: 1px solid $page-content-divider-color !important;
      &:last-child {
        border-bottom: none !important;
      }
    }
  }
}

/* Splash page */
.splash-btn-github:hover {
  color: $masthead-text;

  &:hover {
    color: rgb(225, 103, 255) !important;
  }
}

.splash-btn-linkedin:hover {
  color: #00adfd !important;
}

.splash-btn-email:hover {
  color: rgb(150, 233, 201) !important;
}

.page__hero--overlay a {
  color: $masthead-text !important;
}

.page__title {
  color: $masthead-text !important;
}

.page__lead {
  color: $masthead-text !important;
}

/* Footer */
.page__footer {
  background-color: $masthead-background !important;
}

// Footer spacing
.footer-icon {
  padding-right: 1.5em !important;
}

/* Sidebar */
.social-icons {
  .fa-building {
      color: $work-icon-color !important;
  }

  .fa-university {
      color: $university-icon-color !important;
  }

  .fa-map-marker-alt {
      color: $location-icon-color !important;
  }

  .github-icon {
      color: $github-icon-color !important;
  }
}

.author__urls.social-icons {
  .fa-linkedin {
    color: $linkedin-icon-color !important;
  }
}

.author__urls.is--visible {
  border: 1px solid $page-content-divider-color !important;

  &:before {
    border-color: $page-content-divider-color transparent !important;
  }
}

.btn--inverse {
    border-color: $page-content-divider-color !important;
    background-color: $background-color !important;
    color: $masthead-text !important;
    outline: none !important;
}

.btn--inverse:hover {
    border-color: $masthead-text !important;
}

.btn--inverse.open {
    border-color: $masthead-text !important;
}

// No button outlines
.btn {
  outline: none !important;
}

.author__urls a {
  outline: none !important;
}

.page__footer-follow .social-icons a {
  padding-right: 0;
  margin-right: 0.5rem;
}

.page__footer a {
  outline: none !important;
}

.page__hero--overlay {
  margin-bottom: 0.5em !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/assets/images/splash-5.jpg') !important;
}

.page__hero--overlay a {
  outline: none !important;
}

// Landing page
.landing_sentence a {
  color: white !important;

  &:hover {
    color: white !important;
  }
}

.terminal-text > .wrap {
  border-right: 0.08em solid $masthead-text !important;
}

// Contact page
#contact-form-button {
  color: $masthead-text !important;
  border-color: $page-content-divider-color !important;

  &:hover {
    border-color: $masthead-text !important;
  }
}

#contact-email-link {
  color: white !important;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.dark_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
