---
# Only the main Sass file needs front matter (the dashes are enough)
---

/*

  Dark theme: all styling here overrides the default light theme. Only element styling that changes during load
  needs to be included here - everything else stays as is.

*/

/*
  Variables
*/
$masthead-text: #eaeaea !default;
$masthead-background: #1d212b !default;
$page-content-divider-color: #393c44 !default;
$background-color: #252a34 !default;
$navicon-color: $masthead-text !default;
$navicon-cross-color: white !default;
$code-block-outline-color: #333 !default;
$code-background-colour: #5e5e5e !default;
$toc-border-colour: #51555d !default;

$work-icon-color: rgb(89, 89, 208) !default;
$university-icon-color: rgb(182, 182, 182) !default;
$location-icon-color: rgb(170, 151, 7) !default;
$github-icon-color: rgb(146, 9, 181) !default;
$linkedin-icon-color: #00a5f2 !default;

$article-text-link-color:  #c2c0ff !default;
$skilltag-background-color: #2f4c6a !default;

/*
  Page
*/
:root {
  color-scheme: dark;
}

.initial-content, .search-content {
  border-top: 1px solid $masthead-background !important;
  background: $background-color !important;
}

.btn {
  outline: none !important;
}

/*
  Masthead
*/
.greedy-nav {
  background: $masthead-background !important;
}

.masthead {
  background-color: $masthead-background !important;
}

.masthead__menu-item a:hover {
  color: $masthead-text !important;
}

.spacer {
  background-color: $masthead-background !important;
}

/*
  Navigation
*/
.greedy-nav {
  a {
    color: $masthead-text !important;
  }

  .visible-links {
    a {
      color: $masthead-text !important;

      &:hover {
        color: $masthead-text !important;
      }
    }
  }
}

.active-page-item::before {
  background-color: $masthead-text !important;
}

.hidden-links .active-page-item {
  outline: 1px solid $masthead-text !important;
}

.greedy-nav .visible-links a:hover::before {
  background-color: $masthead-text !important;
}

.search__toggle {
  color: $masthead-text !important;
}

.svg-char {
  fill: $masthead-text !important;
}

.navicon {
  background: $navicon-color !important;

  &::before, &::after {
    background: $navicon-color !important;
  }
}

.greedy-nav__toggle:hover .navicon {
  background: $navicon-color !important;
}

.greedy-nav__toggle:hover.close .navicon {
  background: transparent !important;
}

.greedy-nav__toggle.close .navicon {
  background: transparent !important;
}

.greedy-nav__toggle.close .navicon::before {
  background: $navicon-cross-color !important;
}

.greedy-nav__toggle.close .navicon::after {
  background: $navicon-cross-color !important;
}

.greedy-nav {
  .hidden-links {
    border: 1px solid $page-content-divider-color !important;

    &:before {
      border-color: $page-content-divider-color transparent !important;
    }

    li {
      border-bottom: 1px solid $page-content-divider-color !important;

      &:last-child {
        border-bottom: none !important;
      }
    }

    a {
      color: $masthead-text !important;

      &:hover {
        color: $masthead-text !important;
        background-color: $background-color !important;
        outline: 1px solid $masthead-text !important;
        outline-offset: -1px !important;
      }
    }
  }
}

.toc {
  .nav__title {
    color: $masthead-text !important;
    background: $masthead-background !important;
  }

  @-moz-document url-prefix() {
    .active a {
      outline-offset: 0px !important;
      outline: 1px solid $masthead-text !important;
    }
  }
}

/*
  Splash page
*/
.splash-btn-github:hover {
  color: $masthead-text;

  &:hover {
    color: rgb(225, 103, 255) !important;
  }
}

.splash-btn-linkedin:hover {
  color: #00adfd !important;
}

.splash-btn-email:hover {
  color: rgb(150, 233, 201) !important;
}

.page__hero {
  &--overlay {
    margin-bottom: 0.5em !important;
  }
}

.page__hero--overlay {
  margin-bottom: 0.5em !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/assets/images/splash-5.jpg') !important;

  a {
    outline: none !important;
    color: $masthead-text !important;
  }
}

.page__title, .page__lead {
  color: $masthead-text !important;
}

.pagination {
  &--pager {
    color: $article-text-link-color !important;

    &:hover {
      border: 1px solid $masthead-text !important;
      color: $masthead-text !important;
    }

    &.disabled {
      color: grey !important;
    }
  }
}

.page__taxonomy-item {
  &:hover {
    border: 1px solid $masthead-text !important;
  }
}

/*
  Footer
*/
.page__footer {
  background-color: $masthead-background !important;

  a {
    outline: none !important;
  }
}

.page__footer-follow .social-icons a {
  padding-right: 0;
  margin-right: 0.5rem;
}

.footer-icon {
  padding-right: 1.5em !important;
}

/*
  Sidebar
*/
.social-icons {
  .fa-building {
      color: $work-icon-color !important;
  }

  .fa-university {
      color: $university-icon-color !important;
  }

  .fa-map-marker-alt {
      color: $location-icon-color !important;
  }

  .github-icon {
      color: $github-icon-color !important;
  }
}

.author__urls.social-icons {
  .fa-linkedin {
    color: $linkedin-icon-color !important;
  }
}

.author__urls.is--visible {
  border: 1px solid $page-content-divider-color !important;

  &:before {
    border-color: $page-content-divider-color transparent !important;
  }
}

.author__urls a {
  outline: none !important;
}

.btn--inverse {
  border-color: $page-content-divider-color !important;
  background-color: $background-color !important;
  color: $masthead-text !important;
  outline: none !important;

  &:hover {
    border-color: $masthead-text !important;
  }
}

.btn--inverse.open {
  border-color: $masthead-text !important;
}

/*
  Landing page
*/
.landing_sentence a, a:hover {
  color: white !important;
}

.terminal-text > .wrap {
  border-right: 0.08em solid $masthead-text !important;
}

/*
  About page
*/
.skilltag {
  color: $masthead-text !important;
  background-color: $skilltag-background-color !important;
}

/*
  Blog page
*/
.archive__subtitle {
  color: $masthead-text !important;
}

/*
  Contact page
*/
#contact-form {
  background-color: $masthead-background !important;
}

#contact-form-button {
  color: $masthead-text !important;
  border-color: $page-content-divider-color !important;

  &:hover {
    border-color: $masthead-text !important;
  }
}

/*
  Articles
*/
.article-text-link {
  color: $article-text-link-color !important;

  &:hover {
    color: $article-text-link-color !important;
  }
}

.article-text-image-caption, .article-text-image-caption.a {
  color: $masthead-text !important;
}

code {
  border: 1px solid $code-block-outline-color !important
}

code.article-text {
  background-color: $code-background-colour !important;
}

/*
  CV page
*/
.cv-button {
  color: $masthead-text !important;
  border-color: $page-content-divider-color !important;

  &:hover {
    border-color: $masthead-text !important;
  }
}

#cv-download-link {
  color: $masthead-text !important;

  &:hover {
    color: $masthead-text !important;
  }
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.dark_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
