---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* Dark theme overrides */

// Variables
$masthead-text: #eaeaea !default;
$masthead-background: #1d212b !default;
$page-content-divider-color: #393c44 !default;
$background-color: #252a34 !default;
$navicon-color: #6a6971 !default;

/* Profile icon colours */
$work-icon-color: rgb(89, 89, 208) !default;
$university-icon-color: rgb(182, 182, 182) !default;
$location-icon-color: rgb(170, 151, 7) !default;
$github-icon-color: rgb(146, 9, 181) !default;
$linkedin-icon-color: #00a5f2 !default;

// Content
.page__hero {
  &--overlay {
    margin-bottom: 0.5em !important;
  }
}

.initial-content,
.search-content {
  border-top: 1px solid $page-content-divider-color !important;
  background: $background-color !important;
}

// Navigation
// Black masthead
.greedy-nav {
  background: $masthead-background !important;
}

.spacer {
  background-color: $masthead-background !important;
}

.masthead {
  background-color: $masthead-background !important;
}

// Site logo border
.site-logo img {
  border-style: dotted;
  border-width: 1px;
  border-color: $masthead-text;
}

// Site title and subtitle text
.greedy-nav a {
  color: $masthead-text !important;
}

// White masthead text
.greedy-nav .visible-links a {
  color: $masthead-text !important;
}

// White masthead text on hover
.masthead__menu-item a:hover {
  color: $masthead-text !important;
}

.greedy-nav .visible-links a:hover {
  color: $masthead-text !important;
}

// White masthead indicator
.active-page-item::before {
    background-color: $masthead-text !important;
}

// White masthead indicator on hover
.greedy-nav .visible-links a:hover::before {
  background-color: $masthead-text !important;
}

// Search toggle colour
.search__toggle {
  color: $masthead-text !important;
}

// Navicon colors
.navicon::before, .navicon::after {
  background: $navicon-color !important;
}

.navicon {
  background: $navicon-color !important;
}

.greedy-nav__toggle:hover .navicon {
  background: $navicon-color !important;
}

.greedy-nav__toggle:hover.close .navicon {
  background: transparent !important;
}

.greedy-nav__toggle.close .navicon {
  background: transparent !important;
}

// Hidden nav menu link
.greedy-nav .hidden-links a {
  color: $masthead-text !important;
}

.greedy-nav .hidden-links a:hover {
  color: $masthead-text !important;
  background-color: $background-color !important;
  outline: 1px dashed $masthead-text;
  outline-offset: -1px !important;
}

.greedy-nav {
  .hidden-links {
    border: 1px solid $page-content-divider-color !important;

    &:before {
      border-color: $page-content-divider-color transparent !important;
    }

    li {
      border-bottom: 1px solid $page-content-divider-color !important;
      &:last-child {
        border-bottom: none !important;
      }
    }
  }
}

// Footer
.page__footer {
  background-color: $masthead-background !important;
}

// Footer spacing
.footer-icon {
  padding-right: 1.5em !important;
}

// Sidebar
.social-icons {
  .fa-building {
      color: $work-icon-color !important;
  }

  .fa-university {
      color: $university-icon-color !important;
  }

  .fa-map-marker-alt {
      color: $location-icon-color !important;
  }

  .github-icon {
      color: $github-icon-color !important;
  }
}

.author__urls.social-icons {
  .fa-linkedin {
    color: $linkedin-icon-color !important;
  }
}

.author__urls.is--visible {
  border: 1px solid $page-content-divider-color !important;

  &:before {
    border-color: $page-content-divider-color transparent !important;
  }
}

.btn--inverse {
    border-color: $page-content-divider-color !important;
    background-color: $background-color !important;
    color: $masthead-text !important;
    outline: none !important;
}

.btn--inverse:hover {
    border-color: $masthead-text !important;
}

.btn--inverse.open {
    border-color: $masthead-text !important;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.dark_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials