---
# Only the main Sass file needs front matter (the dashes are enough)
---

.spacer {
    line-height: 35%;
}

.splash-btn-github:hover {
    color: rgb(225, 103, 255);
}

.splash-btn-linkedin:hover {
    color: #00adfd;
}

.splash-btn-email:hover {
    color: rgb(150, 233, 201);
}

.greedy-nav .visible-links a:before {
    margin-bottom: 1rem;
    background-color: rgb(49, 49, 49) !important;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
